<!--
  Generated template for the RolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>

    <ion-navbar hideBackButton>
      <button ion-button clear class="left-header-btn" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{pageTitle}}</ion-title>
      <div class="right-header-btns">
        <button class="search">
          <ion-icon name="search"></ion-icon>
        </button>
        <button class="notification-bell" (click)="notification()">
          <ion-icon name="notifications"></ion-icon>
          <span class="counter" *ngIf="notcount>0">{{notcount}}</span>
        </button>
        <button class="profile">
          <img src="{{profilePhoto}}" width="28" height="28">
        </button>
      </div>
    </ion-navbar>
  </ion-header>
<ion-content>

  <button class="add-unit-btn" (click)="doAdd()"  *ngIf="CREATEACCESS==1">
    <ion-icon name="add"></ion-icon>&nbsp;&nbsp;&nbsp;Add New Role</button>
  <div class="error" *ngIf="totalCount==0">No role entries found</div>

 


  <ion-list>
    <ion-item-sliding #item class="list-item" *ngFor="let roleitem of roleAllLists">
      <ion-item>
          <h2>{{roleitem.role_name}}</h2>     
      </ion-item>
      <ion-item-options side="right" class="list-item-options">
        <button ion-button class="edit-btn" (click)="doEdit(roleitem,'edit')"  *ngIf="EDITACCESS==1">
          <img width="25" src="assets/imgs/edit@2x.png">Edit
        </button>
        <button ion-button class="del-btn" (click)="doConfirm(roleitem.role_id,roleitem)"  *ngIf="DELETEACCESS==1">
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading More Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
<progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>
