page-requestdenyo {
  ion-content .scroll-content {
		margin-bottom: 0;
	}	
.item-md.item-block .item-inner {
		padding-right: 0px;
		border-bottom: 1px solid #dedede;
	}
	.last-list .item-inner {
		border-bottom: 1px solid #dedede!important;
	}
	.edit-report .item-md {
		background: transparent;
		padding-left: 0;
		padding-right: 0;
	}
	.item-label-stacked .select-md {
		padding-top: 0;
	}
	ion-input {
		height: 25px;
		background:url(../assets/imgs/calendar-icn@2x.png) no-repeat right center;
		background-size:6%;
	}
	
	.white-area .item-md.item-block .item-inner {
		border-bottom: 0px solid #dedede;
	}
	ion-list[role="radiogroup"] .item-md{
		border-top: 0px solid #dedede;
	}
	
	.final .item-inner {
		border-bottom: 1px solid #dedede!important;
	}
}
