<!-- Generated template for the ProgressBarComponent component -->

<div class="custom-tab">



    <!-- <a class="" *ngFor="let footeritem of progress; let i = index" [attr.data-index]="i">     
        <ion-icon  (click)="goto(footeritem.pageComponent)"  class="icon icon-md ion-md-help"  *ngIf="footeritem.active!=0"></ion-icon>
        <span class="">{{footeritem.title}}</span>
    </a> -->


    <a class="" *ngFor="let footeritem of progress; let i = index" [attr.data-index]="i" [ngStyle]="{'border-top': '2px solid '+footeritem.colorcode,'color': footeritem.colorcode, 'font-size': '24px', 'font-weight': 'bold' , 'padding': '0', ' background': 'assets/imgs/tab-units-icon-active@2x.png','border-top': '2px solid'+ footeritem.colorcode}">
        <ion-icon (click)="goto(footeritem.pageComponent)" class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <i class="chat-count" *ngIf="msgcount>0 && footeritem.title=='Message'">{{msgcount}}</i>
        <span class="">{{footeritem.title}}</span>
    </a>




    <!-- <a class="" (click)="goto('DashboardPage')" *ngIf="progress!=0">     
        <ion-icon class="icon icon-md ion-md-help"></ion-icon>
        <span class="">Dashboard - {{progress}}</span>
    </a>

    <a class="" (click)="goto('DashboardPage')" *ngIf="progress==0" aria-selected="true">       
        <ion-icon class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <span class="">Dashboard</span>
    </a>



    <a class="" (click)="goto('UnitsPage')" *ngIf="progress!=1">
        <ion-icon class="icon icon-md ion-md-help"></ion-icon>
        <span class="">Units</span>
    </a>



    <a class="" (click)="goto('UnitsPage')" aria-selected="true" *ngIf="progress==1">
        <ion-icon class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <span class="">Units</span>
    </a>


    <a class="" (click)="goto('CalendarPage')" *ngIf="progress!=2">
        <ion-icon class="icon icon-md ion-md-help"></ion-icon>
        <span class="">Calendar</span>
    </a>


    <a class="" (click)="goto('CalendarPage')" aria-selected="true" *ngIf="progress==2">
        <ion-icon class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <span class="">Calendar</span>
    </a>


    <a class="" (click)="goto('MessagePage')" *ngIf="progress!=3">
        <ion-icon class="icon icon-md ion-md-help"></ion-icon>
        <i class="chat-count" *ngIf="msgcount>0">{{msgcount}}</i>
        <span class="">Message</span>
    </a>

    <a class="" (click)="goto('MessagePage')" aria-selected="true" *ngIf="progress==3">
        <ion-icon class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <i class="chat-count" *ngIf="msgcount>0">{{msgcount}}</i>
        <span class="">Message</span>
    </a>


    <a class="" (click)="goto('OrgchartPage')" *ngIf="progress!=4">
        <ion-icon class="icon icon-md ion-md-help"></ion-icon>
        <span class="">Org Chart</span>
    </a>


    <a class="" (click)="goto('OrgchartPage')" aria-selected="true" *ngIf="progress==4">
        <ion-icon class="icon icon-md ion-md-help" aria-selected="true"></ion-icon>
        <span class="">Org Chart</span>
    </a> -->

</div>

<!-- <div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'">
     kannan
  </div>
</div> -->