<ion-header>
    <ion-toolbar color="primary">
        <ion-navbar>
          <ion-buttons left>
              <button ion-button icon-only (click)="previous()">
                <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
              </button>
          </ion-buttons>
          <ion-title>Events & Comments</ion-title>
          <div class="right-header-btns">
              <button class="search">
                <ion-icon name="search"></ion-icon>
              </button>
              <button class="more">
                  <ion-icon name="more"></ion-icon>
                </button>
            </div>
        </ion-navbar>
        
    </ion-toolbar>    
      </ion-header>
  
  
  <ion-content>
      <div class="unit-detail" padding="" style="border-color: #9013FE;">

          <div class="unit-title">
    
            <div class="list-favorite">
    
              <button>
    
                <!---->
    
                <!----><ion-icon class="favorite icon icon-md ion-md-star" name="star" role="img" aria-label="star"></ion-icon>
    
              </button>
    
            </div>
    
            <span class="status" style="background-color: #00ba28;"></span>
    
            <b>Generator 2</b>
    
          </div>
    
          <div class="unit-info">
            <span style="float:left;">
            For Demo
    
            <br>
    
            <strong>Deployed Location:</strong> 10 Neythal Road ,Singapore
          </span>
            <img style="float:right;max-width:7%;margin-top: 17px;" src="../assets/imgs/map.png" />
    
    
    
          </div>
    
        </div>
  
    <div>
      <ion-segment [(ngModel)]="tabs" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="mapView" (click)="loadMap(unitsPopups);doUnit()">
          Events
        </ion-segment-button>
        <ion-segment-button value="listView" (click)="doUnit()">
          Comments
        </ion-segment-button>
      </ion-segment>
    </div>
  
  
    <div>
  
  
      <div id="mapView">
        <div class="new-service">
            
            <div *ngIf="unitAllLists.length>0" class="filter" (click)="doSort()"> Date
                <ion-icon name="arrow-down" *ngIf="sortLblTxt === Favourites"></ion-icon>
                <ion-icon name="arrow-down" *ngIf="reportData.sortascdesc === 'desc' && sortLblTxt !==Favourites"></ion-icon>
                <ion-icon name="arrow-up" *ngIf="reportData.sortascdesc === 'asc'  && sortLblTxt !== Favourites"></ion-icon>
              </div>
              <ion-list class="lst">
                  <ion-item-sliding #item class="list-item brd item-wrapper" *ngFor="let unit of unitAllLists">
                    <ion-item  (click)="eventview()" class="slide">
                      <div class="p1">
                                <img alt="" src="http://denyoappv2.stridecdev.com/images/default.png">
                              <div class="check">
                                <h3>
                                  <b>General Maintenance Event</b>
                                </h3>
                                <div class="D&T" style="font-size:14px;color:#848484;">
                                  Fri 2/21/18, 19:00AM
                                </div>
                                
                                <span>Lorem Ipsum Dolor Sit Amet, Consectuer</span>
                               
                  
                              </div>
                            </div>
                    </ion-item>
                    <ion-item-options side="right" class="list-item-options">
          
                      <button ion-button class="edit-btn" (click)="eventedit()">
                        <img width="25" src="assets/imgs/edit@2x.png">Edit
                      </button>
                      <!--button ion-button class="remove-btn" (click)="doConfirm(unit.unit_id,item)">
                        <ion-icon name="trash" style="font-size:26px"></ion-icon>Remove
                      </button-->
                      <button ion-button class="delete-btn" (click)="hideondash(unit.viewonid)">
                       <img width="25" src="assets/imgs/delete-icn-small@2x.png">Delete
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-list>

                <ion-list class="lst">
                    <ion-item-sliding #item class="list-item brd item-wrapper" *ngFor="let unit of unitAllLists">
                      <ion-item (click)="doAction(unit,'detail',unit.unit_id)" class="slide">
                        <div class="p1">
                                  <img alt="" src="http://denyoappv2.stridecdev.com/images/default.png">
                                <div class="check">
                                  <h3>
                                    <b>General Maintenance Event</b>
                                  </h3>
                                  <div class="D&T" style="font-size:14px;color:#848484;">
                                    Fri 2/21/18, 19:00AM
                                  </div>
                                  
                                  <span>Lorem Ipsum Dolor Sit Amet, Consectuer</span>
                                 
                    
                                </div>
                              </div>
                      </ion-item>
                      <ion-item-options side="right" class="list-item-options">
            
                        <button ion-button class="edit-btn" (click)="eventedit()">
                          <img width="25" src="assets/imgs/edit@2x.png">Edit
                        </button>
                        <!--button ion-button class="remove-btn" (click)="doConfirm(unit.unit_id,item)">
                          <ion-icon name="trash" style="font-size:26px"></ion-icon>Remove
                        </button-->
                        <button ion-button class="delete-btn" (click)="hideondash(unit.viewonid)">
                         <img width="25" src="assets/imgs/delete-icn-small@2x.png">Delete
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                  </ion-list>

                  <ion-list class="lst">
                      <ion-item-sliding #item class="list-item brd item-wrapper" *ngFor="let unit of unitAllLists">
                        <ion-item (click)="doAction(unit,'detail',unit.unit_id)" class="slide">
                          <div class="p1">
                                    <img alt="" src="http://denyoappv2.stridecdev.com/images/default.png">
                                  <div class="check">
                                    <h3>
                                      <b>General Maintenance Event</b>
                                    </h3>
                                    <div class="D&T" style="font-size:14px;color:#848484;">
                                      Fri 2/21/18, 19:00AM
                                    </div>
                                    
                                    <span>Lorem Ipsum Dolor Sit Amet, Consectuer</span>
                                   
                      
                                  </div>
                                </div>
                        </ion-item>
                        <ion-item-options side="right" class="list-item-options">
              
                          <button ion-button class="edit-btn" (click)="eventedit()">
                            <img width="25" src="assets/imgs/edit@2x.png">Edit
                          </button>
                          <!--button ion-button class="remove-btn" (click)="doConfirm(unit.unit_id,item)">
                            <ion-icon name="trash" style="font-size:26px"></ion-icon>Remove
                          </button-->
                          <button ion-button class="delete-btn" (click)="hideondash(unit.viewonid)">
                           <img width="25" src="assets/imgs/delete-icn-small@2x.png">Delete
                          </button>
                        </ion-item-options>
                      </ion-item-sliding>
                    </ion-list>
                    <h1 (click)="eventadd()">Add Event</h1>

        </div>
        
      </div>
  
      <div id="listView" style="display: none;">
 
          <div class="new-service">
       
  
        <div *ngIf="unitAllLists.length>0" class="filter" (click)="doSort()"> Date
          <ion-icon name="arrow-down" *ngIf="sortLblTxt === Favourites"></ion-icon>
          <ion-icon name="arrow-down" *ngIf="reportData.sortascdesc === 'desc' && sortLblTxt !==Favourites"></ion-icon>
          <ion-icon name="arrow-up" *ngIf="reportData.sortascdesc === 'asc'  && sortLblTxt !== Favourites"></ion-icon>
        </div>
  
        <ion-list class="lst">
            <ion-item-sliding #item class="list-item brd item-wrapper" *ngFor="let unit of unitAllLists">
              <ion-item (click)="commentview()" class="slide">
                <div class="p1">
                          <img alt="" src="http://denyoappv2.stridecdev.com/images/default.png">
                        <div class="check">
                            <h3>
                                <b>General Maintenance Event</b>
                              </h3>
                          <div class="D&T" style="font-size:14px;color:#848484;">
                            Fri 2/21/18, 19:00AM
                          </div>
                          
                          <span>Lorem Ipsum Dolor Sit Amet, Consectuer</span>
                         
            
                        </div>
                      </div>
              </ion-item>
              <ion-item-options side="right" class="list-item-options">
                <button ion-button class="reply-btn" (click)="replycomment()">
                  <img width="25" src="assets/imgs/edit@2x.png">Reply
                </button>
                <!--button ion-button class="remove-btn" (click)="doConfirm(unit.unit_id,item)">
                  <ion-icon name="trash" style="font-size:26px"></ion-icon>Remove
                </button-->
                <button ion-button class="delete-btn" (click)="hideondash(unit.viewonid)">
                 <img width="25" src="assets/imgs/delete-icn-small@2x.png">Delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <h1 (click)="commentadd()">Add Comment</h1>
          </div>
          
      </div>
  
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="unitAllLists.length!=0">
      <ion-infinite-scroll-content loadingText="Loading More Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>