 page-addorgchartone { 

 ion-list {
    background-color: #f8f8f8;
	padding: 0 16px;
}
 ion-content .scroll-content {
    margin-bottom: 0;
}
    .list-md {
	margin-bottom: 0;
	}
  .border-bottom-validtion{
    border-bottom-color: red;
    border-bottom-width: 2px;
    }

.list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
.contactinfo{
	margin-left :0;
	padding-left :16px;
	padding-right :16px;
	background-color: #f8f8f8;
	overflow: hidden;
}
.item-md {
	font-size: 1.4rem;
}
.last-btn .item-inner{
	border-bottom: none!important;
}
.last-btn .label-md{
	margin-top: 0;
	margin-right: 0;
}
  ion-app.md [padding] .scroll-content {
    padding: 0px;
}
    .user-img {
      
        margin: 0 0 7px;
       
        img {
          border-radius: 50%;
          border: 3px solid #006bf4;
        }
        text-align: center;
       
        padding-bottom: 15px;
      }

      .user-camera-block{
        margin: 0 0 7px;
       
        img {
          border-radius: 50%;
          border: 2px solid #006BF4;
        }
        text-align: center;
       
        padding-bottom: 15px;
      }
      .user-name {
        font-size: 18px;
        color: #424242;
        margin-bottom: 4px;
		font-weight: 500;
      }
      .user-company {
        font-size: 20px;
        color: #888888;
      }
      .user-hashtag{
        color: #6C6C6C;
        font-size: 18px;
      }

      .info {
        border-bottom: 0px solid #d6d6d6;
      }
      .profile-title{
        padding:15px
      }
	  .edit-profo ion-item {
	  	background-color: #f8f8f8;
		padding-right: 0;
		padding-left: 0;
	  }
	  .edit-profo {
	  	border-top: 1px solid #ccc;
		overflow: hidden;
	  }
	  .edit-profo ion-input, .edit-profo ion-select{
	  	border-bottom: 1px solid #b8b8b8;
	  }
	  .sep .list-md .item-input{
	  	border-bottom: none!important;
	  }
	  .action-sheet-md .action-sheet-group {
	  	    margin-top: -1px;
	  }
	  .item-md.item-block .item-inner {
	  	padding-right: 0px;
	  }
  }