<!--
  Generated template for the AddorgchartonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{pageTitle}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="user-img">
    <div class="profile-title">Profile Photo</div>
    <img src="{{addedImgLists}}" width="100" height="100" alt="">

    <div style="position: absolute;
        left: 54%;
        top: 18%;" class="user-camera-block">


      <a (click)="fileChooser()" href="#" *ngIf="!addedImgLists">
        <ion-icon name="camera" style="font-size: 17pt;background-color:#fff;line-height: 35px;
            color: #009ACD;
            border-radius: 50%;
            border: 1px solid #006BF4;
            width: 40px;
            height: 40px;"></ion-icon>
      </a>
      <a (click)="fileChooser()" href="#" *ngIf="addedImgLists">
        <ion-icon name="camera" style="font-size: 17pt;background-color:#fff;line-height: 35px;
            color: #009ACD;
            border-radius: 50%;
            border: 1px solid #006BF4;
            width: 40px;
            height: 40px;"></ion-icon>
      </a>


    </div>
    	<div class="user-name">User Information*</div>
    
  </div>
  <div style="text-align:center" *ngIf="isProgress">
    <span style="color:green">Profile photo uploaded. please wait</span>
    <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
    <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
  </div>

  <div>
    <form [formGroup]="form"  class="c edit-profo">
      <!-- <div style="position: relative;left: 35%;">

        <a (click)="doUploadPhoto()" href="#" *ngIf="!addedImgLists">
          <ion-icon name="camera" style="font-size: 75pt;color:#009ACD"></ion-icon>
        </a>
        <a (click)="doUploadPhoto()" href="#" *ngIf="addedImgLists">
          <img src="{{addedImgLists}}" width="100" height="75" *ngIf="addedImgLists" />
        </a>
      </div>
      <div style="position: relative;
    left: 38%;">Upload Photo
      </div>
      <div style="position: relative;
    left: 28%;">
        <p>
          <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
          <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
        </p>
      </div> -->

      <ion-list>
      <ion-item>
        <ion-label stacked>First Name
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="first_name" [(ngModel)]="first_name"></ion-input>
      </ion-item>
      </ion-list>
      
      
      <ion-list>
      <ion-item>
        <ion-label stacked>Last Name
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="last_name" [(ngModel)]="last_name"></ion-input>
      </ion-item>
      </ion-list>
      
      
	  <ion-list>
      <ion-item>
        <ion-label stacked>Email
          <span class="mandatory" *ngIf="hideActionButton"> *</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      </ion-list>

      <!-- <div>
        <ion-label stacked>Contact Number
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input class="{{borderbottomredvalidation}}" [disabled]="readOnly" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"
          [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
        <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
      </div> -->


      <!-- <div class="contactinfo">
          <ion-label stacked>Contact Number
            <span class="mandatory" *ngIf="hideActionButton">*</span>
          </ion-label>
          <ion-input class="{{borderbottomredvalidation}}" [disabled]="readOnly" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"
            [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
          <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
        </div> -->
      
        
        <!-- <div class="contactinfo">
            <ion-label stacked>Contact Number
              <span class="mandatory">*</span>
            </ion-label>
            <ion-input class="{{borderbottomredvalidation}}" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"
              [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
            <ion-input type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
          </div> -->

  		  <ion-list>
          <ion-item>
            <ion-label stacked>Contact Number
              <span class="mandatory" *ngIf="hideActionButton">*</span>
            </ion-label>
            <ion-input type="text" formControlName="contact" [(ngModel)]="contact"></ion-input>
         
          </ion-item>
          </ion-list>
          
	  <ion-list>
      <ion-item>
        <ion-label stacked>Country
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="country" formControlName="country">
          <ion-option *ngFor="let countryData of responseResultCountry" value="{{countryData.id}}">{{countryData.country_name}}</ion-option>
        </ion-select>
      </ion-item>
      </ion-list>

	  <ion-list>
      <ion-item>
        <ion-label stacked>Job Position
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="job_position" [(ngModel)]="job_position"></ion-input>
      </ion-item>
      </ion-list>
      
      <ion-list>
      <ion-item>
        <ion-label stacked>Company
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="company_group" formControlName="company_group" (ionChange)="onSegmentChanged(company_group)">
          <ion-option *ngFor="let groupData of responseResultCompanyGroup" value="{{groupData.companygroup_id}}">{{groupData.companygroup_name}}</ion-option>
        </ion-select>
      </ion-item>
      </ion-list>

	  <ion-list style="padding-bottom:25px;">
      <ion-item>
        <ion-label stacked>Report To</ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="report_to" formControlName="report_to">
          <ion-option value="0" *ngIf="this.len==0">N/A</ion-option>
          <ion-option *ngFor="let userData of responseResultReportTo" value="{{userData.staff_id}}">{{userData.firstname}} {{userData.lastname}}</ion-option>
        </ion-select>
      </ion-item>
      </ion-list>
	  
      <ion-list style="border-top:1px solid #d6d6d6;padding:0;" class="last-btn">
      <ion-item *ngIf="hideActionButton" style="background-color: #fff;padding-top:15px;">
        <button style="max-width:81%;margin:0 auto;" ion-button color="bluedark" text-center block [disabled]="!form.valid" (click)="saveEntry()">Save</button>
      </ion-item>
      </ion-list>
    </form>
  </div>

</ion-content>