<!--
  Generated template for the Unitgrouplist page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Unit Group</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>







  <span class="initial" [ngStyle]="{'background-color': '#' + colorcode}">{{cname}}</span>


  <button class="{{favoriteindication}}" style="    margin-top: 5px;float: right ;width:30px;height:30px;background-color:#ffffff"></button>
  <div style="overflow: hidden; padding-left: .5em;">
    <h4 style="font-size:17px">
      <b>{{unitgroup_name}}</b>
    </h4>
    <h5 style="font-size:14px">
      <b style="color:green">Total Units:{{totalunits}}</b>
    </h5>

  </div>

  <div class="list-favorite">
    <button style="text-align:right;">
      <ion-icon name="star-outline" *ngIf="favoriteindication === 0 || favoriteindication === 'unfavorite'"></ion-icon>
      <ion-icon name="star" class="favorite" *ngIf="favoriteindication === 1 || favoriteindication === 'favorite'"></ion-icon>
    </button>
  </div>
  <div style="float:left"> Remark</div>


  <div style="float:right">{{createdOn}}</div>

  <div class="separator-line" *ngIf="reportAllLists.length!=0">&nbsp;</div>

  {{remark}}


  <h3>Unit List</h3>

  <div class="error" *ngIf="reportAllLists.length==0">No unit entries found</div>

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="reportAllLists.length!=0">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="reportAllListslength!=0">
    <ion-item-sliding *ngFor="let item of reportAllLists;">

      <ion-item style="margin-bottom: -4px;">

        <div>
          <h5>
            <b style="font-size: 12px;">{{item.unitname}}</b>
          </h5>
          <h5>
            <b style="font-size: 12px;">{{item.projectname}}</b>
          </h5>
          <h6>
            <b style="font-size: 12px;">Gen Status:</b>{{item.genstatus}}</h6>
          <h6>
            <b style="font-size: 12px;">Next Servicing:</b>{{item.nextservicedate}}</h6>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="reportAllLists.length!=0">
    <ion-infinite-scroll-content loadingText="Loading More Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
<progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>