page-changepassword {
	ion-content .scroll-content {
		margin-bottom: 0;
	}
	.atwho-inserted {
      background: #ccc;
      padding: 4px 6px;
	  position: relative;
    }
    .atwho-query {
      color: #4183C4;
    }
	.atwho-inserted i {
		position: absolute;
		right: 0;
		top: 0;
		background: #f00;
		width: 5px;
		height: 5px;
		z-index:1000;
	}
	.change-password {
		background:#f8f8f8;
		margin:0;
	}
	.change-password .items-md {
		background:transparent;
	}
	.change-password ion-item {
		padding-right:16px;
		background: transparent;
		margin-top: 4px;
	}
	.item-label-stacked .text-input-md {
		margin-top: 0;
    	margin-bottom: 0px;
	}
	.label-md {
		margin-right:0;
	}
	
	.atwho-inserted {
      background: #ccc;
      padding: 4px 6px;
	  position: relative;
    }
    .atwho-query {
      color: #4183C4;
    }
	.atwho-inserted i {
		position: absolute;
		right: 0;
		top: 0;
		background: #f00;
		width: 5px;
		height: 5px;
		z-index:1000;
	}
	
	.list-md .item-input:last-child .item-inner {
		border-bottom: 1px solid #dedede;
	}
}
