page-alarmlogdetails {
ion-content .scroll-content {
    margin-bottom: 0;
}
.log-info {
	border-bottom: 1px solid #b8b8b8;
	color: #9d9d9d;
}
.edit-alarm-form {
	border-bottom: 1px solid #b8b8b8;
}
.switch ion-col p {
    margin-bottom: 0;
    margin-top: 0 !important;
    line-height: 16px !important;
}
  .switch .time {
    float: right;
    margin:16px 10px 0 0;
    color: #424242;
    font-size: 12px;
}
.label-title {
	color: #9d9d9d;
}
.alarm-log-row{
	padding-left: 15px;
	padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 20px;
    background-color: #f8f8f8;
}
  .event-head {
    margin-bottom: 10px;
    border-bottom: 1px solid #848484;
    div {
      padding: 10px 5px;
      position: relative;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
        font-weight: lighter;
      }
      .span-text {
        position: absolute;
        top: 30%;
        right: 5%;
        .span-warning {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          /*background-color: orange;*/
          margin-right: 5px;
        }
        .span-tripped {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
          margin-right: 5px;
        }
      }
    }
  }
  .event-body {
    padding: 0 5px;
    h5 {
      margin: 0;
      font-size: 15px;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
  }
  .event-detail-btn {
    position: absolute;
    width: 100%;
    bottom: -1px;
    ion-col {
      padding: 0;
    }
    button {
      background-color: #00BA28;
      border-radius: 0;
      color: #FFFFFF;
      height: 40px;
      border: #00BA28 1px solid;
      width: 100%;
      font-size: 14px;
    }
    img {
      margin: 0 10px 0 0;
    }
  }

  .edit-alarm-top {
    padding:15px 0 0 15px;
    }
  
}
