page-addalarm {
ion-content .scroll-content {
    margin-bottom: 0;
}
  .edit-alarm-top {
    p {
      margin-bottom: 0;
	  margin-top: 0 !important;
      line-height: 16px !important;
    }
    .time {
      margin-top: 0;
    }
  }
  .edit-alarm-form {
    background: #F8F8F8;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-bottom: 1px;
    ion-item {
      background-color: transparent;
      padding: 0 15px;
      .cal-icon {
        background: url(../assets/imgs/cal@2x.png) no-repeat right;
        background-size: 20px auto;
      }
    }
    ion-datetime {
      padding-left: 0;
      padding-right: 0;
    }
    .inner-div {
      border-bottom: 0px solid lightgrey;
      margin: 0 15px 5px 15px;
      ion-item {
        padding: 0 !important;
      }
    }
  }

  .save-btn {
    padding: 20px 40px;
    button {
      background-color: color($app-brand-colors, azure-radiance);
      border-radius: 0;
      color: color($app-brand-colors, white);
      height: 40px;
      border: color($app-brand-colors, blue-ribbon) 1px solid;
      width: 100%;
      font-size: 14px;
    }
  }
  .switch .angel {
 	 margin: 0 15px 0 0;
  }
  .switch ion-col h1 {
  	margin-bottom: 0;
  }
  .edit-alarm-top {
	padding:15px 0 0 15px;
	border-bottom: 1px solid #d6d6d6;
  }
  .edit-alarm-top .time {
   margin-top: 27px;
    margin-right: -43px;

  }

}
