<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button clear class="left-header-btn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <div class="right-header-btns">
      <button class="search">
        <ion-icon name="search"></ion-icon>
      </button>
      <button class="notification-bell" (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
        <span class="counter" *ngIf="notcount>0">{{notcount}}</span>
      </button>
      <button class="profile">
        <img src="{{profilePhoto}}" width="28" height="28">
      </button>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>

 

  <div  *ngIf="segmenttabshow>0">
    <ion-segment [(ngModel)]="tabs" (ionChange)="segmentChanged($event)">
      <ion-segment-button id="maptab" value="mapView" (click)="loadMap(unitsPopups)">
        Map View
      </ion-segment-button>
      <ion-segment-button id="unittab" value="listView" (click)="doUnit()">
        List View
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="error" *ngIf="rolePermissionMsg != ''">{{rolePermissionMsg}}</div>
  <div>


    <div id="mapView">

      <div class="popup" *ngFor="let unit of unitsPopups" id="{{unit.unit_id}}" (click)="doAction(unit,'detail',unit.unit_id)">
        <span class="status" ngClass="{{unit.genstatus}}"></span> {{unit.controllerid}} {{unit.unitname}}
        <div class="list-desc">{{unit.projectname}}</div>
        <!-- <div class="list-favorite">
          <button>
            <ion-icon name="star-outline" hidden="unit.favorite"></ion-icon>
            <ion-icon name="star" hidden="unit.favorite" class="favorite"></ion-icon>
          </button>
        </div> -->

        <div class="list-favorite">
          <button>
            <ion-icon name="star-outline" *ngIf="unit.favorite === 0 || unit.favorite === 'unfavorite'"></ion-icon>
            <ion-icon name="star" class="favorite" *ngIf="unit.favorite === 1 || unit.favorite === 'favorite'"></ion-icon>
          </button>
        </div>

        <div class="running-hrs">Running Hours: {{unit.runninghr}}</div>
      </div>

      <div class="gen-overview">
        <div class="overview">
          <div class="overview-1">
            <span>{{alarms}}</span> ALARMS
          </div>
        </div>
        <div class="overview">
          <div class="overview-2">
            <span>{{warningcount}}</span> WARNINGS
          </div>
        </div>
        <div class="overview">
          <div class="overview-3">
            <span>{{runningcount}}</span> RUNNING
          </div>
        </div>
        <div class="overview">
          <div class="overview-3">
            <span>{{readycount}}</span> ONLINE
          </div>
        </div>
      </div>

      <div class="custom-tooltip">
        Total Count: {{totalCount}}
      </div>
      <div #map id="map"></div>
    </div>

    <div id="listView" style="display: none;">
      <!--  For Push Testing 
     <button ion-button class="edit-btn" (click)="pushTesting()">
          <img width="25" src="assets/imgs/edit@2x.png">Push Testing
      </button> -->
      <div class="error" *ngIf="unitAllLists.length==0">No unit entries found</div>



      <div *ngIf="unitAllLists.length>0" class="filter" (click)="doSort()"> {{sortLblTxt}}
        <ion-icon name="arrow-down" *ngIf="sortLblTxt === Favourites"></ion-icon>
        <ion-icon name="arrow-down" *ngIf="reportData.sortascdesc === 'desc' && sortLblTxt !==Favourites"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="reportData.sortascdesc === 'asc'  && sortLblTxt !== Favourites"></ion-icon>
      </div>

      <ion-list>
        <ion-item-sliding #item class="list-item" *ngFor="let unit of unitAllLists">
          <ion-item (click)="doAction(unit,'detail',unit.unit_id)">
            <span class="initial" [ngStyle]="{'background-color': '#' + unit.colorcode}">{{unit.companygroup_name}}</span>
            <span class="status" ngClass="{{unit.genstatus}}"></span> {{unit.unitname}}
            <div class="list-desc">{{unit.projectname}}</div>
            <div class="list-favorite">
              <!-- <button style="text-align:right;" (click)="presentModal(unit)">
                  <img class="icon-size" src="assets/imgs/map.png">
            </button> -->
              <button (click)="favorite(unit.unit_id)">
                <ion-icon name="star-outline" *ngIf="unit.favoriteindication === 0 || unit.favoriteindication === 'unfavorite'"></ion-icon>
                <ion-icon name="star" class="favorite" *ngIf="unit.favoriteindication === 1 || unit.favoriteindication === 'favorite'"></ion-icon>
              </button>
            </div>
            <div class="running-hrs">Running Hours: {{unit.runninghr}}</div>
          </ion-item>
          <ion-item-options side="right" class="list-item-options">

            <button ion-button class="edit-btn" (click)="doAction(unit,'edit',unit.unit_id)" *ngIf="UNITEDITACCESS==1">
              <img width="25" src="assets/imgs/edit@2x.png">Edit
            </button>
            <!--button ion-button class="remove-btn" (click)="doConfirm(unit.unit_id,item)">
              <ion-icon name="trash" style="font-size:26px"></ion-icon>Remove
            </button-->
            <button ion-button class="read-btn" (click)="hideondash(unit.viewonid)" *ngIf="UNITHIDEACCESS==1">
              <img width="25" src="assets/imgs/remove@2x.png">Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="unitAllLists.length!=0">
    <ion-infinite-scroll-content loadingText="Loading More Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
<ion-footer>
  <progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>