<!--
  Generated template for the AddreporttemplatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="
    background-color: #00569F;" color="bluedark">


  <button style="background-color: #00569F;float:left;" ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>

  <ion-title  style="    text-align: center;
    margin-top: 10px;"    class="page-title">{{pageTitle}}</ion-title>

  <button style="float:left" ion-button (click)="notification()" style="position: absolute;
    right: 0%;
    top: 1%;background: transparent;">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
   <ion-badge style="    margin-top: 5px;
    margin-right: 7px;" item-end class="notificationcount" *ngIf="notcount>0">{{this.notcount}}</ion-badge>
</button>

    <ion-navbar class="backtoprevious-navbar" hideBackButton>
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div>
    <form [formGroup]="form">
      <ion-item>
        <ion-label stacked>Template Name <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="templatename" [(ngModel)]="templatename"></ion-input>
      </ion-item>
      <ion-item ion-item *ngFor="let item of availableheadingitem">
        <ion-label>{{item.availabledata}}</ion-label>
        <ion-checkbox color="bluedark" (ionChange)="insertUserToArray(item.id,$event,item.availabledata)" (click)="getCheckBoxValue(item.id,$event,item.availabledata)" checked={{item.check}}></ion-checkbox>
      </ion-item>
      <ion-item>
        <button ion-button color="bluedark" text-center block (click)="saveEntry()">Continue</button>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
<ul class="quick-list">
<li>
    <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
</li>  
<li>  
    <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectCalendar()" clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
</li>      
<li>    
    <button style="width: 34px;" ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">ORG</ion-icon>
    </button>
</li>    
</ul>

  </ion-toolbar>
</ion-footer> -->



<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{pageTitle}}</ion-title>
    <div class="right-header-btns">
        <!-- <button class="more">
          <ion-icon name="more"></ion-icon>
        </button> -->
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item style="padding-left:16px;padding-right:16px;margin-bottom:20px;">
      <ion-label stacked>Template Name
        <span class="mandatory" *ngIf="hideActionButton">*</span>
      </ion-label>
      <ion-input type="text" [disabled]="readOnly" formControlName="templatename" [(ngModel)]="templatename"></ion-input>
    </ion-item>
    <ion-item class="avail" style="padding-left:16px;padding-right:16px;">
    	<ion-label stacked>Available</ion-label>
    </ion-item>
<div class="edit-report">    
    <ion-item ion-item *ngFor="let item of availableheadingitem">
      <ion-label>{{item.availabledata}}</ion-label>
      <ion-checkbox color="bluedark" (ionChange)="insertUserToArray(item.id,$event,item.availabledata)" (click)="getCheckBoxValue(item.id,$event,item.availabledata)"
        checked={{item.check}}></ion-checkbox>
    </ion-item>
</div>    
    <ion-item class="fix-bot">
      <button ion-button color="bluedark" text-center block (click)="saveEntry()" [disabled]="!form.valid">Save</button>
    </ion-item>
  </form>
  
</ion-content>

<ion-footer>
  	<progress-bar [progress]="footerBar"></progress-bar>
  </ion-footer>