<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Event Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <!-- <ion-row class="event-head">
      <ion-col class="col" col-12>
        <div>
          <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarm_priority == '1'">
          <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarm_priority == '0'">
          <img alt="" src="assets/imgs/warning-pic@2x.png" *ngIf="alarm_priority == '2'">
          <h3>{{eventTitle}}</h3>
          <p>{{evenDate}}</p>
          <span class="span-text">
            <span class="span-warning" [ngStyle]="{'background-color':  + alarm_color_code}"></span>{{labels}}</span>
        </div>
      </ion-col>
    </ion-row> -->


    <div class="switchevent edit-alarm-top" style="border-bottom: 1px solid #cccccc;">
      <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarm_priority=='0'">
      <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarm_priority=='1'">
      <img alt="" src="assets/imgs/warning-pic@2x.png" *ngIf="alarm_priority=='2'">
      <ion-row>
        <ion-col col-12>
          <h1>{{eventTitle}}</h1>
          <p>{{evenDate}}</p>
          <span class="span-text" style="margin-top: -16px;
          float:right;">
            <span class="span-warning" [ngStyle]="{'background-color':  + alarm_color_code}"></span>{{labels}}</span>

        </ion-col>
      </ion-row>
    </div>


    <ion-row class="event-body">
      <ion-col class="col" col-5>
        <h5>Unit Name</h5>
      </ion-col>

      <ion-col class="col" col-7>
        <p>{{unitname}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="event-body">
      <ion-col class="col" col-5>
        <h5>Project</h5>
      </ion-col>

      <ion-col class="col" col-7>
        <p>{{projectname}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="event-body">
      <ion-col class="col" col-5>
        <h5>Deployed Location</h5>
      </ion-col>

      <ion-col class="col" col-7>
        <p>{{location}}</p>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="event-detail-btn" (click)="doEditAlarm(item,'edit')"  *ngIf="frompage!='commentinfo'">
      <ion-col class="col" col-12>
        <div>
          <button>
            <img src="assets/imgs/edit@2x.png" width="12">Edit</button>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-content>