page-event-details {

  .span-warning {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /*background-color: orange;*/
    margin-right: 5px;
  }
  
	ion-content .scroll-content {
		margin-bottom: 0;
	}

  .switchevent{
    border-bottom: 0px solid #d6d6d6;
    overflow: hidden;
    img{
      width: 20%;
      float: left;
      padding: 14px 12px 0px 16px;
    }
    .angel{
        float: right;
        color: #006BF4;
        font-size: 24px;
        padding: 20px 20px 0px 0px;
      }
    ion-col{
      h1{
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        margin-top: 14px;
      }
      p{
        text-align: 14px;
        line-height: 20px;
        margin-top: -6px;
        float: left;
        font-size: 12px;
      }
    }
    .time{
      float: right;
      margin: 18px -26px 0 0;
       color: #424242;
      font-size: 12px;
    }
  }

  .event-head {
    margin-bottom: 10px;
    border-bottom: 1px solid #848484;
    div {
      padding: 10px 5px;
      position: relative;
      h3 {
        margin: 0;
        font-size: 18px;
      }
      p {
        margin: 0;
        font-weight: lighter;
      }
      .span-text {
       
        position: absolute;
        top: 30%;
        right: 5%;
        .span-warning {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          /*background-color: orange;*/
          margin-right: 5px;
        }
        .span-tripped {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
          margin-right: 5px;
        }
      }
    }
  }
  .event-body {
    padding: 0 5px;
    h5 {
      margin: 0;
      font-size: 15px;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
  }
  .event-detail-btn {
    position: absolute;
    width: 100%;
    bottom: -1px;
    ion-col {
      padding: 0;
    }
    button {
      background-color: #00BA28;
      border-radius: 0;
      color: #FFFFFF;
      height: 40px;
      border: #00BA28 1px solid;
      width: 100%;
      font-size: 14px;
      margin-top:95%
    }
    img {
      margin: 0 10px 0 0;
    }
  }
}
