<!--
  Generated template for the UnitdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Comments</ion-title>

  </ion-toolbar>
</ion-header>

<!-- USMAN -->
<ion-content>
  <div>
    <div class="unit-detail" style="border-color: #9013FE;" padding>
      <div class="unit-title">
        <div class="list-favorite">
          <button>
            <ion-icon name="star-outline" *ngIf="unitDetailData.favoriteindication === 0 || unitDetailData.favoriteindication === 'unfavorite'"></ion-icon>
            <ion-icon name="star" class="favorite" *ngIf="unitDetailData.favoriteindication === 1 || unitDetailData.favoriteindication === 'favorite'"></ion-icon>
          </button>
        </div>
        <span class="status" ngClass="{{unitDetailData.gen_status}}"></span>
        <b>{{this.unitDetailData.unitname}}</b>
      </div>
      <div class="unit-info">
        {{unitDetailData.projectname }}
        <br>
        <strong>Deployed Location:</strong> {{unitDetailData.location }}
        <!-- <button class="map-btn" style="text-align:right;"  (click)="presentModal(unitDetailData)">
        
          <img class="icon-size" src="assets/imgs/map.png">
        </button> -->

      </div>
    </div>



    <!-- <ion-item style="width: 100%; margin: 0; padding-left: 10px;">
      <ion-label>Sort By</ion-label>
      <ion-select style="padding: 1px 1px 6px 1px;" [(ngModel)]="pet" (ionChange)="onSegmentChanged(pet)">
        <ion-option value="alarm,asc" selected="true">Alarm</ion-option>
        <ion-option value="comment,asc">Comment</ion-option>
        <ion-option value="service,asc">Service</ion-option>
        <ion-option value="name,asc">Sender Ascending</ion-option>
        <ion-option value="name,desc">Sender Descending</ion-option>
      </ion-select>
    </ion-item> -->


    <!-- service p1 -->
    <div class="new-service">
      <h1 (click)="doAdd()"  *ngIf="COMMENTCREATEACCESS==1">New Comment</h1>

      <div class="filter" *ngIf="totalCount>0" (click)="doSort()"> {{sortLblTxt}}
        <ion-icon name="arrow-down" *ngIf="sortLblTxt === Comment"></ion-icon>
        <ion-icon name="arrow-down" *ngIf="reportData.sortascdesc === 'desc' && sortLblTxt !== Comment"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="reportData.sortascdesc === 'asc'  && sortLblTxt !== Comment"></ion-icon>
      </div>

      <div class="error" *ngIf="reportAllLists.length==0">No entries found</div>
      <ion-list class="lst">
        <ion-item-sliding class="brd" *ngFor="let upcomintitem of reportAllLists;">

          <ion-item class="slide" *ngIf="upcomintitem.event_type=='C'" (click)="doCommentView(upcomintitem.comment_id,upcomintitem.event_type,upcomintitem)">
            <div class="p1">
              <img *ngIf="upcomintitem.user_photo!=''" alt="" src="{{upcomintitem.user_photo}}">
              <img *ngIf="upcomintitem.user_photo==''" alt="" src="{{apiServiceURL}}/images/default.png">
              <div class="check">
                <h3>
                  <b>{{upcomintitem.comment_subject}}</b>
                </h3>
                <div class="D&T" style="font-size:14px">
                  {{upcomintitem.comment_date_formatted}}
                </div>

                <span>Comment By:{{upcomintitem.comment_by_name}} {{upcomintitem.comment_by_name_hastag}} </span>

                <!-- <h5>{{upcomintitem.comment_remark}}</h5> -->

                <!--span class="priorityicon"> <img  style="width: 20px;height:20px;    margin-top: 22px;
          margin-right: 27px;" src="img/low_priority.png" hspace="10" *ngIf="item.comment_priority=='1'" />
              <img  style="width: 20px;height:20px;    margin-top: 22px;
          margin-right: 27px;" src="img/high_priority.png" hspace="10" *ngIf="item.comment_priority=='2'" /></span-->



              </div>
            </div>
          </ion-item>

          <ion-item class="slide" *ngIf="upcomintitem.event_type=='R'" (click)="doServiceView(upcomintitem.service_id,upcomintitem.event_type,upcomintitem)">

            <div class="p1">
              <img *ngIf="upcomintitem.user_photo!=''" alt="" src="{{upcomintitem.user_photo}}">
              <img *ngIf="upcomintitem.user_photo==''" alt="" src="{{apiServiceURL}}/images/default.png">
              <div class="check">
                <h3>
                  <b>{{upcomintitem.service_subject}}</b>
                </h3>
                <div class="D&T" style="font-size:14px">
                  {{upcomintitem.serviced_datetime_formatted}}
                </div>
                <span *ngIf="upcomintitem.serviced_created_name!='null'">Created by:{{upcomintitem.serviced_created_name}} {{upcomintitem.serviced_created_name_hastag}} </span>
                <br>
                <span>Serviced by:{{upcomintitem.serviced_by_name}} {{upcomintitem.serviced_by_name_hastag}} </span>

                <div style="position: absolute;
                margin-top: -60px;
                margin-left: 57%;
                text-align: center;">
                  <span style="color:green;font-size:11px" *ngIf="upcomintitem.is_denyo_support>0">
                    <ion-icon ios="ios-checkmark" md="md-checkmark" style="color:green;font-size:16px"></ion-icon>
                    <br>Denyo Support
                    <br>Request</span>
                </div>
              </div>
            </div>
          </ion-item>


          <ion-item class="slide" *ngIf="upcomintitem.event_type=='S'" (click)="doServiceView(upcomintitem.service_id,upcomintitem.event_type,upcomintitem)">

            <div class="p1">
              <img *ngIf="upcomintitem.user_photo!=''" alt="" src="{{upcomintitem.user_photo}}">
              <img *ngIf="upcomintitem.user_photo==''" alt="" src="{{apiServiceURL}}/images/default.png">
              <div class="check">
                <h3>
                  <b>{{upcomintitem.service_subject}}</b>
                </h3>
                <div class="D&T" style="font-size:14px">
                  {{upcomintitem.serviced_datetime_formatted}}
                </div>

                <span>Created by:{{upcomintitem.serviced_created_name}} {{upcomintitem.serviced_created_name_hastag}} </span>
                <br>
                <span>Serviced by:{{upcomintitem.serviced_by_name}} {{upcomintitem.serviced_by_name_hastag}} </span>
                <div style="position: absolute;
                margin-top: -60px;
                margin-left: 57%;
                text-align: center;">
                  <span style="color:green;font-size:11px" *ngIf="upcomintitem.is_denyo_support>0">
                    <ion-icon ios="ios-checkmark" md="md-checkmark" style="color:green;font-size:16px"></ion-icon>
                    <br>Denyo Support
                    <br>Request</span>
                </div>

              </div>
            </div>
          </ion-item>


        

<!--  && upcomintitem.alarm_assigned_by!='' -->
          <ion-item *ngIf="upcomintitem.event_type=='OA'" (click)="doAlarmView(upcomintitem.alarm_id,upcomintitem.event_type)">
            <div class="p1">
              <div class="msg">
                <!-- <div class="user-img"> -->
                <img src="assets/imgs/warning-pic@2x.png" height="50" alt="" *ngIf="upcomintitem.alarm_priority=='2'">
                <img src="assets/imgs/error-pic@2x.png"  height="50"  alt="" *ngIf="upcomintitem.alarm_priority=='0'">
                <img src="assets/imgs/error-pic@2x.png" height="50" alt="" *ngIf="upcomintitem.alarm_priority=='1'">
                <!-- </div> -->
          

                <div class="check">
                  <h3 style="padding-left:13px;white-space: normal;">
                    <b>{{upcomintitem.alarm_name}}</b>
                  </h3>
                  <div class="D&T" style="font-size:14px;padding-left:13px">
                    {{upcomintitem.alarm_received_date}}
                  </div>
                  <span style="padding-left:13px" *ngIf="upcomintitem.serviced_created_name!='null'">Assigned by:{{upcomintitem.alarm_assigned_by}} {{upcomintitem.serviced_created_name_hastag}} </span>
                  <br>
                  <span style="padding-left:13px">Assigned to: {{upcomintitem.alarm_assigned_to}} </span>


                </div>
              </div>
            </div>
          </ion-item>
<!--  && upcomintitem.alarm_assigned_by!=''-->
          <ion-item *ngIf="upcomintitem.event_type=='A'" (click)="doAlarmView(upcomintitem.alarm_id,upcomintitem.event_type)">
            <div class="p1">
              <div class="msg">
                <!-- <div class="user-img"> -->
                <img src="assets/imgs/warning-pic@2x.png"  height="50" alt="" *ngIf="upcomintitem.alarm_priority=='2'">
                <img src="assets/imgs/error-pic@2x.png"  height="50" alt="" *ngIf="upcomintitem.alarm_priority=='0'">
                <img src="assets/imgs/error-pic@2x.png"  height="50" alt="" *ngIf="upcomintitem.alarm_priority=='1'">
                <!-- </div> -->


                <div class="check">
                  <h3 style="padding-left:13px;white-space: normal;">
                    <b>{{upcomintitem.alarm_name}}</b>
                  </h3>
                  <div class="D&T" style="font-size:14px;padding-left:13px">
                    {{upcomintitem.alarm_received_date}}
                  </div>
                  <span style="padding-left:13px" *ngIf="upcomintitem.serviced_created_name!='null'">Assigned by:{{upcomintitem.alarm_assigned_by}} {{upcomintitem.serviced_created_name_hastag}} </span>
                  <br>
                  <span style="padding-left:13px">Assigned to: {{upcomintitem.alarm_assigned_to}} </span>


                </div>

               
              </div>
            </div>
          </ion-item>


          <ion-item-options side="right" class="list-item-options">
            <button *ngIf="upcomintitem.event_type!='C' && upcomintitem.event_type!='S'" ion-button class="edit-btn" (click)="doEdit(upcomintitem,'edit',upcomintitem.event_type)">
              <img width="25" src="assets/imgs/edit@2x.png">
              <br>Edit
            </button>

            <button *ngIf="upcomintitem.duration!=1 && upcomintitem.event_type=='C' && COMMENTEDITACCESS==1" ion-button class="edit-btn" (click)="doEdit(upcomintitem,'edit',upcomintitem.event_type)">
              <img width="25" src="assets/imgs/edit@2x.png">
              <br>Edit
            </button>



            <button *ngIf="upcomintitem.event_type=='S' && upcomintitem.serviced_by==0"  ion-button class="edit-btn" (click)="doEdit(upcomintitem,'edit',upcomintitem.event_type)">
              <img width="25" src="assets/imgs/edit@2x.png">
              <br>Edit
            </button>



            
          


            <button ion-button *ngIf="upcomintitem.event_type!='C' && upcomintitem.event_type!='A'  && upcomintitem.event_type!='OA'" class="delete-btn" (click)="doConfirm(upcomintitem,upcomintitem.event_type)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>


            <button *ngIf="upcomintitem.duration!=1 && upcomintitem.event_type=='C'  && upcomintitem.event_type!='A'  && upcomintitem.event_type!='OA' && COMMENTDELETEACCESS==1" ion-button class="delete-btn" (click)="doConfirm(upcomintitem,upcomintitem.event_type)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>



          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
      <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="totalCountUpcoming!=0">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <!-- service p1 -->


    </div>

  </div>
</ion-content>
<ion-footer>
<progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>