<!--
  Generated template for the AddcompanygroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="
    background-color: #00569F;" color="bluedark">


  <button style="background-color: #00569F;float:left;" ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>

  <ion-title  style="    text-align: center;
    margin-top: 10px;"    class="page-title">{{pageTitle}}</ion-title>

  <button style="float:left" ion-button (click)="notification()" style="position: absolute;
    right: 0%;
    top: 1%;background: transparent;">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
   <ion-badge style="    margin-top: 5px;
    margin-right: 7px;" item-end class="notificationcount" *ngIf="notcount>0">{{this.notcount}}</ion-badge>
</button>

  <ion-navbar class="backtoprevious-navbar" hideBackButton>
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <form [formGroup]="form" (ngSubmit)="saveEntry()">
      <ion-list>
        <div style="margin-left: 112px;">
        
          <a (click)="doUploadPhoto()" href="#" *ngIf="!addedImgLists">
            <ion-icon name="camera" style="font-size: 75pt;color:#009ACD"></ion-icon>
          </a>
          <a (click)="doUploadPhoto()" href="#" *ngIf="addedImgLists">
          <img src="{{addedImgLists}}" width="100" height="75" *ngIf="addedImgLists" />
           </a>
        </div>
        <div style="position: relative;
    left: 38%;">Upload Photo
        </div>
        <div style="position: relative;
    left: 28%;">
          <p>
            <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
            <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
          </p>
        </div>
        <div style="position: relative;
    left: 6%;"><b>User Information*</b></div>
        <ion-item>
          <ion-label stacked>First Name <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="first_name" [(ngModel)]="first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Last Name <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="last_name" [(ngModel)]="last_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email<span class="mandatory" *ngIf="hideActionButton"> *</span></ion-label>
          <ion-input type="text" [disabled]="readOnly" formControlName="email" [(ngModel)]="email"></ion-input>
        </ion-item>
 
        <div>
          <ion-label stacked>Contact Number  <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-input class="{{borderbottomredvalidation}}" [disabled]="readOnly" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"  [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
          <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
        </div>
 

        <ion-item>
          <ion-label stacked>Country <span class="mandatory" *ngIf="hideActionButton">*</span></ion-label>
          <ion-select [disabled]="readOnly" [(ngModel)]="country" formControlName="country">
            <ion-option *ngFor="let countryData of responseResultCountry" value="{{countryData.id}}">{{countryData.country_name}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item *ngIf="hideActionButton">
          <button ion-button color="primary" text-center block [disabled]="!form.valid">Continue</button>
        </ion-item>
         <div><p>&nbsp;</p><br></div>
      </ion-list>

      <div><br></div>
    </form>
  </div>
</ion-content>
<ion-footer color="bluedark">
  <ion-footer color="bluedark">
    <ion-toolbar color="bluedark">
      <ul class="quick-list">
        <li>
          <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
        </li>
        <li>
          <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
        </li>
        <li>
          <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
      <ion-badge item-end class="messagecount"  *ngIf="msgcount>0">{{this.msgcount}}</ion-badge>
    </button>
          <ion-badge color="danger"></ion-badge>
        </li>
        <li>
          <button ion-button icon-only (click)="redirectCalendar()" clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
        </li>
        <li>
          <button style="width: 34px;" ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">ORG</ion-icon>
    </button>
        </li>
      </ul>

    </ion-toolbar>
  </ion-footer> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{pageTitle}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="user-img">
    <div class="profile-title">Profile Photo</div>
    <img src="{{addedImgLists}}" width="100" height="100" alt="">
    <div class="user-name">User Information*</div>
    <div style="position: absolute;
        left: 54%;
        top: 18%;" class="user-camera-block">


      <a (click)="fileChooser()" href="#" *ngIf="!addedImgLists">
        <ion-icon name="camera" style="font-size: 17pt;background-color:#fff;line-height: 35px;
            color: #009ACD;
            border-radius: 50%;
            border: 1px solid #006BF4;
            width: 40px;
            height: 40px;"></ion-icon>
      </a>
      <a (click)="fileChooser()" href="#" *ngIf="addedImgLists">
        <ion-icon name="camera" style="font-size: 17pt;background-color:#fff;line-height: 35px;
            color: #009ACD;
            border-radius: 50%;
            border: 1px solid #006BF4;
            width: 40px;
            height: 40px;"></ion-icon>
      </a>


    </div>
  </div>
  <div style="text-align:center" *ngIf="isProgress">
    <span style="color:green">Profile photo uploaded. please wait</span>
    <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
    <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
  </div>



  <form [formGroup]="form" (ngSubmit)="saveEntry()" class="edit-profo">
    <ion-list>
      <!-- <div style="margin-left: 112px;">

        <a (click)="doUploadPhoto()" href="#" *ngIf="!addedImgLists">
          <ion-icon name="camera" style="font-size: 75pt;color:#009ACD"></ion-icon>
        </a>
        <a (click)="doUploadPhoto()" href="#" *ngIf="addedImgLists">
          <img src="{{addedImgLists}}" width="100" height="75" *ngIf="addedImgLists" />
        </a>
      </div>
      <div style="position: relative;
          left: 38%;">Upload Photo
      </div>
      <div style="position: relative;
          left: 28%;">
        <p>
          <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
          <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
        </p>
      </div> -->
      <ion-item>
        <ion-label stacked>First Name
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="first_name" [(ngModel)]="first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="last_name" [(ngModel)]="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email
          <span class="mandatory" *ngIf="hideActionButton"> *</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!-- <div>
        <ion-label stacked>Contact Number
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input class="{{borderbottomredvalidation}}" [disabled]="readOnly" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"
          [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
        <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
      </div> -->

      <!-- <div class="contactinfo">
        <ion-label stacked>Contact Number
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input class="{{borderbottomredvalidation}}" [disabled]="readOnly" type="text" formControlName="primary" (keyup)="getPrimaryContact($event)"
          [(ngModel)]="primary" style="width:19%;float:left;"></ion-input>
        <ion-input [disabled]="readOnly" type="text" formControlName="contact" [(ngModel)]="contact" style="width:79%;float:right;"></ion-input>
      </div> -->


      <ion-item>
        <ion-label stacked>Contact Number
          <span class="mandatory" *ngIf="hideActionButton"> *</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="contact" [(ngModel)]="contact"></ion-input>
      </ion-item>




      <ion-item>
        <ion-label stacked>Country
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="country" formControlName="country">
          <ion-option *ngFor="let countryData of responseResultCountry" value="{{countryData.id}}">{{countryData.country_name}}</ion-option>
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label stacked>User Id
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input (keyup)=addhashtag($event.target.value); type="text" [disabled]=useriddisabled formControlName="username" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="password" [disabled]="readOnly" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>Confirm Password
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="password" [disabled]="readOnly" formControlName="re_password" [(ngModel)]="re_password"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label stacked>Personal Hashtag
          <span class="mandatory" *ngIf="hideActionButton"> *</span>
        </ion-label>
        <ion-input type="text" [disabled]=true formControlName="hashtag" [(ngModel)]="hashtag"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Role
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="role" formControlName="role">
          <ion-option *ngFor="let roleData of responseResultRoleDropDown" value="{{roleData.role_id}}">{{roleData.role_name}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label stacked>Job Position
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-input type="text" [disabled]="readOnly" formControlName="job_position" [(ngModel)]="job_position"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Company
          <span class="mandatory" *ngIf="hideActionButton">*</span>
        </ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="company_group" formControlName="company_group" (ionChange)="onSegmentChanged()">
          <ion-option *ngFor="let groupData of responseResultCompanyGroup" value="{{groupData.companygroup_id}}">{{groupData.companygroup_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item style="padding-bottom:15px;">
        <ion-label stacked>Report To</ion-label>
        <ion-select [disabled]="readOnly" [(ngModel)]="report_to" formControlName="report_to">
          <ion-option value="0" *ngIf="this.len==0">N/A</ion-option>
          <ion-option *ngFor="let userData of responseResultReportTo" value="{{userData.staff_id}}">{{userData.firstname}} {{userData.lastname}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="background-color:#fff;border-top:1px solid #d6d6d6;padding-top:20px;" class="last-btn">
        <button ion-button color="primary" text-center block [disabled]="!form.valid" style="max-width:88%;margin:0 auto;">Save</button>
      </ion-item>
    </ion-list>


  </form>
  <br>
  <br>
</ion-content>
<ion-footer>
<progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>