<ion-header>

  <ion-navbar>
    <ion-title>Unit Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="overviewView">
        Overview
      </ion-segment-button>
      <ion-segment-button value="dataView">
        Data
      </ion-segment-button>
      <ion-segment-button value="gensetView">
        Genset Info
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabs">
    <div *ngSwitchCase="'overviewView'">

      <div class="unit-detail" style="border-color: #9013FE;" padding>
        <div class="unit-title">
          <div class="list-favorite">
            <button>
              <ion-icon name="star-outline" *ngIf="false"></ion-icon>
              <ion-icon name="star" class="favorite" *ngIf="true"></ion-icon>
            </button>
          </div>
          <span class="status" style="background-color: #00BA28"></span> DCA6000SS Denyo Testing Unit Name can be very long
        </div>
        <div class="unit-info">
          Denyo Remote Monitoring Project Name
          <br>
          <button class="map-btn"  (click)="presentModal(unitDetailData)">
                        <img class="icon-size" src="assets/imgs/map.png">
          </button>
          Deployed Location: 1 Orchard Boulevard
        </div>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div class="alert">
              <ion-icon name="warning"></ion-icon>
              <span>ALARM</span>
              <button>FAULT RESET</button>
            </div>
          </ion-col>
          <ion-col col-6>

            <div class="status-row">
              <div>
                <span>Online</span>COMM STATUS</div>
              <div>
                <span>22/11/2017</span>SERVICING</div>
            </div>

            <div class="engine-state">
              <span>Running</span>
              ENGINE STATE
            </div>

            <div class="running-hours">
              <span>11144.14</span>
              RUNNING HOURS
            </div>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="controller-mode">
              CONTROLLER MODE
              <div class="modes">
                <span class="{{controlleroffmode}}">OFF</span>
                <span class="{{controllermanmode}}">MAN</span>
                <span class="{{controllerautomode}}">AUTO</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <div class="breaker-state">
              BREAKER STATE
              <ion-row>
                <ion-col col-8>
                  <img src="assets/imgs/breaker-indicator@2x.png" alt="">
                  <button class="io-btn">I / O</button>
                </ion-col>
                <ion-col col-4>
                  <button class="breaker-btn start">START</button>
                  <button class="breaker-btn stop">STOP</button>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="unit-detail" style="border-color: #9013FE;" padding>
        <div class="unit-title">
          <div class="list-favorite">
            <button>
              <ion-icon name="star-outline" *ngIf="false"></ion-icon>
              <ion-icon name="star" class="favorite" *ngIf="true"></ion-icon>
            </button>
          </div>
          <span class="status" style="background-color: #00BA28"></span> DCA6000SS Denyo Testing Unit Name can be very long
        </div>
        <div class="unit-info">
          Denyo Remote Monitoring Project Name
          <br>
          <button class="map-btn"  (click)="presentModal(unitDetailData)">
           
            <img class="icon-size" src="assets/imgs/map.png">
          </button>
          Deployed Location: 1 Orchard Boulevard
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'dataView'">
      <ion-grid class="grid">

        <!--Top Row-->
        <ion-row>
          <ion-col class="col" col-12>
            <div class="data-selector">
              <div>
                <span>Online</span>COMM STATUS</div>
              <div>
                <span>Running</span>ENGINE STATE</div>
              <div class="active-data-selector">
                <span>Off</span>BREAKER STATE</div>
            </div>
          </ion-col>
        </ion-row>
        <!--Top Row-->

        <!--Mid Columns-->
        <ion-row class="mid-col">
          <ion-col class="col" col-6>
            <h2>VOLTAGE (V)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-6>
            <h2>CURRENT (A)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
        </ion-row>

        <ion-row class="mid-col">
          <ion-col class="col" col-6>
            <h2>FREQUENCY (Hz)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-6>
            <h2>ENGINE SPEED (RPM)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
        </ion-row>

        <ion-row class="mid-col">
          <ion-col class="col" col-6>
            <h2>FUEL (%)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-6>
            <h2>LOAD POWER (kW)</h2>
            <img src="assets/imgs/test-img.jpg" alt="test image">
          </ion-col>
        </ion-row>

        <ion-row class="mid-col2">
          <ion-col class="col" col-5>
            <h2>Coolant temperature (&deg;C)</h2>
          </ion-col>
          <ion-col class="col" col-6>
            <img src="assets/imgs/test-img2.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-1>
            <h1>85</h1>
          </ion-col>
        </ion-row>

        <ion-row class="mid-col2">
          <ion-col class="col" col-5>
            <h2>Oil pressure (bar)</h2>
          </ion-col>
          <ion-col class="col" col-6>
            <img src="assets/imgs/test-img2.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-1>
            <h1>5.0</h1>
          </ion-col>
        </ion-row>

        <ion-row class="mid-col2">
          <ion-col class="col" col-5>
            <h2>power factor</h2>
          </ion-col>
          <ion-col class="col" col-6>
            <img src="assets/imgs/test-img2.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-1>
            <h1>0.8</h1>
          </ion-col>
        </ion-row>

        <ion-row class="mid-col2">
          <ion-col class="col" col-5>
            <h2>battery voltage (v)</h2>
          </ion-col>
          <ion-col class="col" col-6>
            <img src="assets/imgs/test-img2.jpg" alt="test image">
          </ion-col>
          <ion-col class="col" col-1>
            <h1>12</h1>
          </ion-col>
        </ion-row>
        <!--Mid Columns-->


        <!-- Bottom Row-->
        <ion-row>
          <ion-col class="col" col-12>
            <div class="bottom-row bot-row1">
              <button>SERVICING INFO</button>
              <button (click)="gotoAlrmLog()">ALARM LOG</button>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="col" col-12>
            <div class="bottom-row bot-row2">
              <button>EVENTS/COMMENTS</button>
              <button>ENGINE STATE</button>
            </div>
          </ion-col>
        </ion-row>
        <!-- Bottom Row-->

        <!--Bottom Row FLEX-->
        <!--<ion-row>-->
        <!--<ion-col class="col" col-12>-->
        <!--<div class="data-selector-bottom">-->
        <!--<div>SERVICING INFO</div>-->
        <!--<div>ALARM LOG</div>-->
        <!--<div>EVENTS/COMMENTS</div>-->
        <!--<div>ENGINE DETAIL</div>-->
        <!--</div>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--Bottom Row FLEX-->
      </ion-grid>
    </div>
    <div *ngSwitchCase="'gensetView'">

      <div class="unit-detail" style="border-color: #9013FE;" padding>
        <div class="unit-title">
          <div class="list-favorite">
            <button>
              <ion-icon name="star-outline" *ngIf="false"></ion-icon>
              <ion-icon name="star" class="favorite" *ngIf="true"></ion-icon>
            </button>
          </div>
          <span class="status" style="background-color: #00BA28"></span> DCA6000SS Denyo Testing Unit Name can be very long
        </div>
        <div class="unit-info">
          Denyo Remote Monitoring Project Name
          <br>
          <button class="map-btn"  (click)="presentModal(unitDetailData)">
           
            <img class="icon-size" src="assets/imgs/map.png">
          </button>
          Deployed Location: 1 Orchard Boulevard
        </div>
      </div>
      <div class="info">
        <ion-row>
          <ion-col col-6>
            <h1>Controller ID</h1>
          </ion-col>
          <ion-col col-6>
            <h2>GEN00001</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>NEA PLate No.</h1>
          </ion-col>
          <ion-col col-6>
            <h2>SHA1234b</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>Generator Model</h1>
          </ion-col>
          <ion-col col-6>
            <h2>DCA-600SPv</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>Serial Model</h1>
          </ion-col>
          <ion-col col-6>
            <h2>WAB1234567900DENYO</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>Contect Personnel</h1>
          </ion-col>
          <ion-col col-6>
            <h2>Jhon Smith</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>Contact Number</h1>
          </ion-col>
          <ion-col col-6>
            <h2>+65 8888 9595</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h1>Company Group</h1>
          </ion-col>
          <ion-col col-6>
            <h2>Stridec Worldwide Pte Ltd</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h1>Notification List</h1>
          </ion-col>
          <ion-col col-6>
            <h2>@talia_stridecgroup</h2>
            <h2>@alva_stridecgroup</h2>
            <h2>@john_stridecgroup</h2>
            <h2>@arun_stridecgroup</h2>
          </ion-col>
        </ion-row>
      </div>
      <div class="buttons">
        <ion-row>
          <ion-col col-12>
            <div class="edit">
              <ion-icon name="create"></ion-icon>
              <span>Edit</span>
            </div>
            <div class="delete">
              <ion-icon name="trash"></ion-icon>
              <span>Delete</span>
            </div>
            <div class="pin">
              <img src="assets/imgs/pin.png">
              <span>Pin to Dashboard</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>