page-previewanddownload {
ion-app.md [padding] .scroll-content {
     padding: 0px;
}
.toolbar-title-md {   
    font-size: 12px;
	max-width: 85%;
    white-space: normal;
    line-height: 16px;
}

}
