<!--
  Generated template for the Addcomment_remarkinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the AddcalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons  left>
        <button   ion-button icon-only  (click)="previous()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>{{pageTitle}} Comment</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <form [formGroup]="form" (ngSubmit)="saveEntry()" enctype='application/x-www-form-urlencoded' method="post">
   
    <ion-row class="servicing-details-heading">
      <ion-col class="col" col-12>
        <h4>Comment Info</h4>
      </ion-col>
    </ion-row>
  
    <div class="servicing-details-form">
      <ion-list style="margin-bottom:0">
        <ion-item style="border:none;margin:0 auto;display:table;width:92%;padding:0;">
          <ion-label stacked>Subject</ion-label>
          <ion-input style="border-bottom:1px solid #dedede;margin-right:0;margin-bottom:0px;" type="text" formControlName="comment_subject" [(ngModel)]="comment_subject"></ion-input>   </ion-item>
      </ion-list>
  
      <ion-list style="margin-bottom: 0">
        <ion-item style="border: none;" class="no-line">
          <ion-label stacked>Remark</ion-label>
          <!--ion-textarea style="border-bottom: 1px solid #dedede"></ion-textarea-->
        </ion-item>
         <!-- <textarea  style="width: 91%;
         margin-left: 4%;
         background-color: #f8f8f8;
         border: 1px solid #cccccc;
         height: 71px;" row="10"  class="suggest form-control" (keyup)=address1get($event.target.value); name="to" id="to" 
                    onkeyup="sptions(event);address1get(this.value)" onblur="sptionshide();address1get(this.value)" formControlName="comment_remark"
                    [(ngModel)]="comment_remark"></textarea> -->
  
  
                    <div class="unit-form-group" style="background-color: #f8f8f8;">
                      <div class="inner-div" style="background-color: #f8f8f8;">
                        <ion-list style="position:relative;">
                          <textarea formControlName="comment_remark" [(ngModel)]="comment_remark" type="text" class="comment_remark" value="" name="comment_remark" style="background:none;border-top:none;border-left:none;border-right:none;border-bottom:1px solid #dedede;width: 100%;"></textarea>
                             
                        </ion-list>
                
                      </div>
                    </div>
      </ion-list>
  
    <ion-row class="attachment-row" style="border-bottom: none; padding-left:10px;padding-right:10px; border-top: none">
      <ion-col class="col" col-12>
        <h6 style="margin-bottom: 0; margin-top: 0">Attachments</h6>
      </ion-col>
    </ion-row>
  
    <progress value="{{progress}}" max="100" *ngIf="isProgress"> </progress>
          <span *ngIf="isProgress" style="padding:2px">{{progress}}%</span>
  
    <ion-row class="attachment-row" style="border-top: none;padding-left:10px;padding-right:10px;"  *ngIf="addedServiceImgLists.length==0">
      <ion-col class="col" col-12 style="padding: 10px 5px">
        <button  (click)="fileChooser(micro_timestamp)" *ngIf="isUploaded"><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
  
  
      <ion-row class="attachment-row" style="border-top: none">
      <ion-col class="col" col-3  *ngFor="let attachitem of addedServiceImgLists; let i = index" [attr.data-index]="i">
        <div>
          <img src="{{addedServiceImgLists[i].imgSrc}}" width="50" height="50" alt="">
          <span><ion-icon name="close" (click)="doRemoveResouce(addedServiceImgLists[i].resouce_id,attachitem)"></ion-icon></span>
        </div>
      </ion-col>
  
      <ion-col class="col" col-9 style="padding: 25px 10px"  *ngIf="addedServiceImgLists.length>0">
        <button (click)="fileChooser(micro_timestamp)" *ngIf="isUploaded"><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
  </div>
  
   
  
     <div class="save-btn">
      <button [disabled]="!form.valid  || isSubmitted">Save</button>
    </div>
    </form>
  </ion-content>