page-forgotpassword {


    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: #F8F8F8;
          -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
          box-shadow: inset 0 -1px 0 0 #f8f8f8;
      
      }
      .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
        border-bottom-color: #F8F8F8;
        -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
        box-shadow: inset 0 -1px 0 0 #f8f8f8;
      }
      
    .form-group {
      
      background: #F8F8F8;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      margin-top: 20px;
      .item {
        background: none;
        padding-right: 20px;
      }
      .item-input {
        &:last-child {
          border-bottom: 0;
        }
      }
      ion-list {
        margin-bottom: 0;
      }
      .cal-icon {
        background: url(../assets/imgs/cal@2x.png) no-repeat right;
        background-size: 20px auto;
      }
    }
    .save-btn {
      padding: 20px;
      button {
        background-color: color($app-brand-colors, azure-radiance);
        border-radius: 0;
        color: color($app-brand-colors, white);
        height: 40px;
        border: color($app-brand-colors, blue-ribbon) 1px solid;
        width: 100%;
        font-size: 14px;
      }
    }
    .button{
      text-transform: capitalize;
    }
}
