<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Alarm List</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="alarm-list" style="border-color: #9013FE;" padding>
    <div class="alarm-title">
      <div class="list-favorite">
        <button>
          <ion-icon name="star-outline" *ngIf="unitDetailData.favoriteindication === 0 || unitDetailData.favoriteindication === 'unfavorite'"></ion-icon>
          <ion-icon name="star" class="favorite" *ngIf="unitDetailData.favoriteindication === 1 || unitDetailData.favoriteindication === 'favorite'"></ion-icon>
        </button>
      </div>
      <span class="status" ngClass="{{unitDetailData.gen_status}}"></span>
      <b>{{this.unitDetailData.unitname}}</b>
    </div>
    <div class="alarm-info">
      {{unitDetailData.projectname }}
      <br>
      <strong>Deployed Location:</strong> {{unitDetailData.location }}
      <!-- <button class="map-btn" style="text-align:right;" (click)="presentModal(unitDetailData)">        
        <img class="icon-size" src="assets/imgs/map.png">
      </button> -->

    </div>
  </div>

  <div class="error" *ngIf="totalCount==0">No entries found</div>
  <ion-list>
    <ion-item-sliding *ngFor="let alarmitem of reportAllLists">
      <ion-item class="msg">
        <div class="switch">
          <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarmitem.alarm_priority == '1'">
          <img alt="" src="assets/imgs/error-pic@2x.png" *ngIf="alarmitem.alarm_priority == '0'">
          <img alt="" src="assets/imgs/warning-pic@2x.png" *ngIf="alarmitem.alarm_priority == '2'">

          <!-- <ion-icon class="angel" name="analytics" (click)="doEdit(alarmitem,'trendline')"></ion-icon>
           -->
          <img class="angel" src="assets/imgs/trendline_new.png" (click)="doEdit(alarmitem,'trendline')">
          <ion-row>
            <ion-col col-12>
              <!-- <h1>{{alarmitem.alarm_name}}</h1> -->
              <h1 style="white-space: normal;">{{alarmitem.alarm_name}}</h1>
              <p>Assigned by:{{alarmitem.alarm_assginedby_name}}
                <br> Assigned to:{{alarmitem.alarm_assginedto_name}}</p>
              <div class="time" style="right: -20px;
              position: absolute;">
                {{alarmitem.alarm_received_time}}
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
      <ion-item-options side="right" class="list-item-options">
        <button ion-button class="edit-btn" (click)="doEdit(alarmitem,'edit')" *ngIf="EDITACCESS==1">
          <img width="25" src="assets/imgs/edit@2x.png">
          <br>Edit
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalCount!=0">
      <ion-infinite-scroll-content loadingText="Loading More"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>


</ion-content>
<ion-footer>
  <progress-bar [progress]="footerBar"></progress-bar>
</ion-footer>
<!-- USMAN -->