page-notification-settings {
  .input-area{
margin-top:30px;
clear:both;
display:block;
}
.txt-area{
margin-top:30px;
clear:both;
display:block;
}
.txt-area .tag-editor{
height:50px!important;
}
textarea {
min-height:70px;
margin-top:0px;
}
.inner-div ion-label {
	margin-right: 0;
    margin-bottom: 0;
}
  .button-inner{
    text-transform:capitalize
  }

  .remove {
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    /* right: 5px; */
    margin-left: 5%;
    top: 7px;
    position: relative;
    ion-icon {
      color: white;
      font-size: 20px;
    }
  }

  .unit-form-group {
    background: #F8F8F8;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    .item {
      background: none;
      padding-right: 20px;
    }
    .item-input {
      &:last-child {
        border-bottom: 0;
      }
    }
    ion-list {
      margin-bottom: 0;
      p {
        padding: 0 15px;
        margin: 5px 0;
        color: red;
        font-style: italic;
        font-size: 12px;
      }
    }
  }
  .border-bottom-invalid{
    border:1px solid red;
  }
  .border-bottom-valid{
    border:1px solid #ccc;
  }
  .save-btn {
    padding: 20px 40px;
    button {
      background-color: color($app-brand-colors, azure-radiance);
      border-radius: 0;
      color: color($app-brand-colors, white);
      height: 40px;
      border: color($app-brand-colors, blue-ribbon) 1px solid;
      width: 100%;
      font-size: 14px;
    }
  }

  ion-row {
    height: 45px;
    background-color: #ffffff;
    padding-left: 8px;
    h4 {
      margin: 0;
      line-height: 45px;
    }
  }


  .notification-btn-row {
    position: relative;
    h4 {
      display: inline-block;
    }
    button {
      background-color: transparent;
      color: #488aff;
      position: absolute;
      top: -5px;
      right: 0px;
    }
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #F8F8F8;
      -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
      box-shadow: inset 0 -1px 0 0 #f8f8f8;
  
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom-color: #F8F8F8;
    -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
    box-shadow: inset 0 -1px 0 0 #f8f8f8;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

}

.inner-div {
  border-bottom: 1px solid #488aff;
  margin: 0 15px 5px 15px;
  ion-item {
    padding: 0 !important;
  }
}
