<!--
  Generated template for the EventDetailsServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="previous()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Comment Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-row class="event-head">
      <ion-col class="col" col-2>
         <img src="{{user_photo}}" alt="" width="50" height="50">
        </ion-col>
    <ion-col class="col" col-12>
      <div>
        <h3>{{eventTitle}}</h3>
        <p style="font-size: 12px;
        width: 250px;">{{evenDate}} </p>
        <span class="span-text">
          <span class="span-icon-service" [ngStyle]="{'background-color':  + service_dot_color}"></span>Comment
        </span>
      </div>
    </ion-col>
  </ion-row> -->

  <div class="switchevent edit-alarm-top servicing-details-top-row" style="border-bottom: 1px solid #cccccc;">
    <!-- <img src="{{user_photo}}" alt="" width="50" height="50">
      <ion-row>
        <ion-col col-12>
          <h1>{{eventTitle}}</h1>
          <p>{{evenDate}}</p>
        
        </ion-col>
      </ion-row> -->


   
     
        <img src="{{user_photo}}" alt="" width="50" height="50">
     

      <ion-col class="col" col-10>
        <h4>{{eventTitle}}</h4>
        <h5>{{evenDate}}</h5>
        {{comment_by_name}} {{comment_by_name_hastag}}
      </ion-col>
   


  </div>

<div class="event-body">

  <ion-row>
    <ion-col class="col" col-5>
      <h5>Unit Name</h5>
    </ion-col>

    <ion-col class="col" col-7>
      <p>{{unitname}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col" col-5>
      <h5>Project</h5>
    </ion-col>

    <ion-col class="col" col-7>
      <p>{{projectname}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col" col-5>
      <h5>Deployed Location</h5>
    </ion-col>

    <ion-col class="col" col-7>
      <p>{{location}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="event-body-border">
    <ion-col class="col" col-12></ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 15px">
    <ion-col class="col" col-12>
      <h5>Remark</h5>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col" col-12>
      <p>{{description}}</p>
    </ion-col>
  </ion-row>



  <div style="border-bottom: 1px solid #dedede; margin:0 10px 0 10px;"></div>
  <ion-row *ngIf="comment_resources!=''" class="attachment-row" style="border-bottom: none;border-top: none">
    <ion-col class="col" col-12>
      <h6 style="font-size: 1.2rem; font-weight: normal; margin-bottom: 0">Attachments</h6>
    </ion-col>
  </ion-row>
  <ion-row class="attachment-row" style="border-top: none">
    <ion-col class="col" col-3 *ngFor="let item of addedImgListsDetails; let i = index" [attr.data-index]="i">
      <div (click)="preview(addedImgListsDetails[i],'CommentdetailsPage')">
        <img src="{{addedImgListsDetails[i].imgSrc}}" alt="">
      </div>
    </ion-col>
  </ion-row>

</div>

  <!-- <ion-row class="event-detail-btn">
    <ion-col class="col" col-12>
      <div>
        <button  (click)="addCalendar(eventitem)"><img src="assets/imgs/edit@2x.png" width="12">Edit</button>
        <button style="background-color: red; border: red"  (click)="doEventDelete(eventitem)"><ion-icon name="trash"></ion-icon>Delete</button>
      </div>
    </ion-col>
  </ion-row> -->

</ion-content>