page-popoverchoosecolor {

 
 
 
  .border-need{border:2px solid #000000;}

.input{
    border: 1px solid #ededed;
    // line-height: 15px;
    // padding-top: 3px;
    // padding-bottom: 3px;
}
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #F8F8F8;
      -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
      box-shadow: inset 0 -1px 0 0 #f8f8f8;
  
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom-color: #F8F8F8;
    -webkit-box-shadow: inset 0 -1px 0 0 #F8F8F8;
    box-shadow: inset 0 -1px 0 0 #f8f8f8;
  }
  .unit-form-group {
    padding-left: 15px;
    background: #F8F8F8;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    .item {
      background: none;
      padding-right: 20px;
    }
    .item-input {
      &:last-child {
        border-bottom: 0;
      }
    }
    ion-list {
      margin-bottom: 0;
      p {
        padding: 0 15px;
        margin: 5px 0;
        color: red;
        font-style: italic;
        font-size: 12px;
      }
    }
  }
  .save-btn {
    padding: 20px;
    button {
      background-color: color($app-brand-colors, azure-radiance);
      border-radius: 0;
      color: color($app-brand-colors, white);
      height: 40px;
      border: color($app-brand-colors, blue-ribbon) 1px solid;
      width: 100%;
      font-size: 14px;
    }
  }

  ion-row {
    height: 45px;
    background-color: #ffffff;
    padding-left: 8px;
    h4 {
      margin: 0;
      line-height: 45px;
    }
  }

  .hard-coded-row {
    background: #F8F8F8;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    div {
      margin: 0 15px;
      border-bottom: 1px solid #dedede;
      position: relative;
      h2 {
        font-size: 16px;
        color: gray;
      }
      ion-icon {
        position: absolute;
        top: 15%;
        right: 20px;
      }
    }
    p {
      padding: 0 15px;
      margin: 5px 0;
      color: #848484;
      font-style: italic;
    }
  }

  .button1{
    background-color: #9013fe;
     width: 40px;
     height: 40px;
     }
     .button2{
     background-color: #50e2c1;
     width: 40px;
     height: 40px;
     }
      .button3{
     background-color: #3f7105;
     width: 40px;
     height: 40px;
     }
      .button4{
     background-color: #000000;
     width: 40px;
     height: 40px;
     }
      .button5{
     background-color: #fe1398;
     width: 40px;
     height: 40px;
     }
      .button6{
     background-color: #2d66c4;
     width: 40px;
     height: 40px;
     }
      .button7{
     background-color: #f3f01e;
     width: 40px;
     height: 40px;
     }
      .button8{
     background-color: #fea313;
     width: 40px;
     height: 40px;
     }
     .buttoncolorgroup button:focus {
    border: 1px solid #000;
    }
     .buttoncolorgroup button.active {
    border: 1px solid #000;
    }
     /*.buttoncolorgroup button:active,.buttoncolorgroup button:focus,.buttoncolorgroup button:hover{border: 2px solid #000;}
     */
	 
	 .button9{
     background-color: #d80e21;
     width: 40px;
     height: 40px;
     }
      .button10{
     background-color: #6f6a73;
     width: 40px;
     height: 40px;
     }
      .button11{
     background-color: #DAADFE;
     width: 40px;
     height: 40px;
     }
      .button12{
     background-color: #E1E1E1;
     width: 40px;
     height: 40px;
     }
	 button {
	 	margin:0 7px 0 0;
	 }
	 
	 
	 .sele {
	 	display:block;
		width:100%;
		text-align:center;
		color:#0081ff;
		padding:0;
		margin:0;
		text-decoration:none;
		background:none;
		border:none;
	 }
	 
	 .list-header-md {
	 	color:#000;
		margin-bottom:0;
		min-height:inherit;
	 }
	 .label-md {
		margin: 13px 8px 7px 0;
		font-weight: 600;
	}
	.list-md {
		margin:0;
	}
	ion-row.fin {
		height:35px;
	}
	.chose-color-btns button {
		border:2px solid #fff;
  }
  
  .button1-border,
  .button2-border,
  .button3-border,
  .button4-border,
  .button5-border,
  .button6-border,
  .button7-border,
  .button8-border,
  .button9-border,
  .button10-border,
  .button11-border,
  .button12-border,
  {
    border:3px solid #46b3ff;
  }

}
