page-unitdetailgraph {

	.alarm-list {
		border-bottom: #000 5px solid;
		.alarm-title {
		  font-size: 16px;
	
		}
		.list-favorite {
		  padding: 0;
		  float: right;
		  margin-top: -5px;
		}
		.alarm-info {
		  font-size: 14px;
		  line-height: 20px;
		}
		.map-btn {
			display:none;
		  float: right;
		  background: none;
		  padding: 0 5px 0 0;
		  ion-icon {
			font-size: 22px;
		  }
		}
	  }
}
.filter {
    text-align: right;
    padding: 20px 20px 10px;
    border-bottom: #979797 2px solid;
    color: #979797;
    ion-icon{
		margin-left: 5px;
    }
}
.load1{
	border-bottom: 0px solid #d6d6d6;
	ion-icon{
		float: left;
		padding: 10px 12px 0px 16px;
		font-size: 60px;
		color: #c5021b;
	}
	ion-col{
		h1{
			font-size: 16px;
			color: #000000;
			font-weight: bold;
			margin-top: 14px;
		}
		p{
			text-align: 14px;
			line-height: 20px;
			margin-top: -6px;
			float: left;
			font-size: 12px;
		}
	}
	.date{
		float: right;
    margin: 0px 14px 0 0;
    color: #424242;
    font-size: 12px;
	}
}
.load2{
	border-bottom: 0px solid #d6d6d6;
	ion-icon{
		float: left;
		padding: 10px 12px 0px 16px;
		font-size: 60px;
		color: #f8a70f;
	}
	ion-col{
		h1{
			font-size: 16px;
			color: #000000;
			font-weight: bold;
			margin-top: 14px;
		}
		p{
			text-align: 14px;
			line-height: 20px;
			margin-top: -6px;
			float: left;
			font-size: 12px;
		}
	}
	.date{
		float: right;
    margin: 0px 14px 0 0;
    color: #424242;
    font-size: 12px;
	}
}

.load3{
	border-bottom: 0px solid #d6d6d6;
	ion-icon{
		float: left;
		padding: 10px 12px 0px 16px;
		font-size: 60px;
		color: #f8a70f;
	}
	ion-col{
		h1{
			font-size: 16px;
			color: #000000;
			font-weight: bold;
			margin-top: 14px;
		}
		p{
			text-align: 14px;
			line-height: 20px;
			margin-top: -6px;
			float: left;
			font-size: 12px;
		}
	}
	.date{
		float: right;
    margin: 0px 14px 0 0;
    color: #424242;
    font-size: 12px;
	}
}
